/MusicX.xcodeproj/project.pbxproj
/MusicX.xcodeproj/xcshareddata/xcschemes/MusicX.xcscheme
/MusicX.xcworkspace/xcshareddata/xcschemes/MusicX-Workspace.xcscheme
/MusicX.xcworkspace/xcuserdata/me.xcuserdatad/UserInterfaceState.xcuserstate
